li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.leftCol{
  width: 50%;
  float: left;
}

.rightCol{
  width: 50%;
  float: right;
}
.newBurger{
  clear: both;
}

.main{
  background-color: rgb(240, 186, 85);
}

.header{
  background-color: orangered;
  color: antiquewhite;
}